<div class="list-group-item" [ngClass]="{'active': isSelected}">
  <div class="row">
    <div class="col-xs-6">
      <img class="pull-left" width="16" height="16" alt="vDollars" src="/img/icons/icon-vdollar.png"/>&nbsp;
      {{_company.vd_balance}}&nbsp;vD
    </div>
    <div class="col-xs-6">
      <div class="input-group input-group-sm">
        <input type="number" class="form-control" placeholder="vDollars" #addFundCompanyAmount (keyup)="0"/>
        <span class="input-group-btn">
          <button class="btn btn-success" type="button" (click)="addFundsToCompany(+addFundCompanyAmount.value)">
            <i class="glyphicon glyphicon-usd"></i>&nbsp;Invest
          </button>
        </span>
      </div>
    </div>
  </div>
</div>
<div class="list-group-item" [ngClass]="{'active': isSelected}">
	<div class="btn-group btn-group-xs btn-group-justified" role="group">
		<div class="btn-group" role="group">
			<button type="button"
				class="btn btn-default"
				(click)="openProduction()">
	  		<i class="fa fa-building-o"></i>&nbsp;Open
	  	</button>
		</div>
		<div class="btn-group" role="group">
			<button type="button" class="btn btn-primary" (click)="unloadProduction()">
				<i class="fa fa-truck"></i>&nbsp;Unload
			</button>
		</div>
		<div class="btn-group" role="group">
			<button type="button" class="btn btn-default" (click)="unloadStorage()">
				<i class="glyphicon glyphicon-download-alt"></i>&nbsp;Empty
			</button>
		</div>
	</div>
</div>
<div class="list-group-item" [ngClass]="{'active': isSelected}">
  <span><img width="20" height="20" [src]="_company.current_production?.img" align="left"/>{{_company.current_production?.name}}</span>
  <span class="label" [ngClass]="{'label-success': company.current_production.currently_producing, 'label-danger': !company.current_production.currently_producing}">
    <i class="glyphicon" [ngClass]="{'glyphicon-thumbs-up': company.current_production.currently_producing, 'glyphicon-thumbs-down': !company.current_production.currently_producing}"></i>
  </span>
  <span class="label label-info">{{_company.current_production?.quantity}}</span>
</div>
