<div class="list-group-item" [ngClass]="{'active': company.isSelected}">
  <button type="button" class="btn btn-xs"
    [ngClass]="{'btn-default': !company.isSelected, 'btn-primary' : company.isSelected}"
    (click)="selectCompany()">
    <i class="glyphicon" [ngClass]="{'glyphicon-check': company.isSelected, 'glyphicon-unchecked': !company.isSelected}"></i>
  </button>
	<span class="label" [ngClass]="{'label-success': company.item.current_production.currently_producing, 'label-danger': !company.item.current_production.currently_producing}">
    <i class="glyphicon" [ngClass]="{'glyphicon-thumbs-up': company.item.current_production.currently_producing, 'glyphicon-thumbs-down': !company.item.current_production.currently_producing}"></i>
  </span>
  <span>&nbsp;{{company.item.name}}</span>
  <button type="button" class="btn btn-xs pull-right"
    [ngClass]="{'btn-default': !company.isSelected, 'btn-primary' : company.isSelected}"
    (click)="openCompany()">
    <i class="glyphicon" [ngClass]="{'glyphicon-menu-down': company.isOpen, 'glyphicon-menu-right': !company.isOpen}"></i>
    <span class="sr-only">Open details</span>
  </button>
</div>
