<div class="row" *ngIf="!corpInfo">
  <div class="col-sm-12"><i class="fa fa-spinner fa-pulse"></i>Loading...</div>
</div>
<div class="row" *ngIf="!!corpInfo">
  <div class="col-sm-12">
    <div class="panel" [ngClass]="{'panel-primary': corpInfo.is_manager, 'panel-danger': !corpInfo.is_manager}">
      <div class="panel-heading">
        <h3 class="panel-title">
					<span class="glyphicon"
            [ngClass]="{'glyphicon-user' : corpInfo.is_manager, 'glyphicon-eye-open' : !corpInfo.is_manager}"
            title="Manager"></span>
					{{corpInfo.corporation.name}}&nbsp;<button type="button" class="btn btn-primary btn-xs pull-right" (click)="loadCorpInfo()"><i class="glyphicon glyphicon-refresh"></i></button>
				</h3>
      </div>
			<ul class="list-group">
		    <li class="list-group-item">
					<div class="row">
						<div class="col-sm-3 col-xs-6">
							<img class="pull-left" width="16" height="16" alt="vDollars" src="/img/icons/icon-vdollar.png"/>&nbsp;
							{{corpInfo.corporation.vd_balance}}
						</div>
						<div class="col-sm-3 col-xs-6">
							<div class="input-group input-group-sm" *ngIf="corpInfo.is_manager">
								<input type="text" class="form-control" placeholder="vDollars" #corpInvestAmount>
								<span class="input-group-btn">
									<button class="btn btn-success" type="button" (click)="investToCorp(corpInvestAmount.value);corpInvestAmount.value = ''">
										<i class="glyphicon glyphicon-usd"></i>&nbsp;Invest
									</button>
								</span>
							</div>
						</div>
						<div class="col-sm-3 col-xs-6">
							<img class="pull-left" width="16" height="16" alt="vGold" src="/img/icons/icon-vgold.png"/>&nbsp;
							{{corpInfo.corporation.vg_balance}}
						</div>
						<div class="col-sm-3 col-xs-6">
							<div class="input-group input-group-sm" *ngIf="corpInfo.is_manager">
								<input type="text" class="form-control" placeholder="vGold" disabled>
								<span class="input-group-btn">
									<button class="btn btn-warning" type="button" disabled>
										<i class="glyphicon glyphicon-usd"></i>&nbsp;Invest
									</button>
								</span>
							</div>
						</div>
					</div>
				</li>
  		</ul>
    </div>
  </div>
</div>
<div class="row" *ngIf="!!corpInfo && corpInfo.is_manager">
  <div class="col-xs-12">
    <a id="_top" name="_top"></a>
    <supply-list
      [companies]="selectedCompanies"
      (on-remove-company)="companiesChange($event)"
      [items]="transferList"
      (on-remove-item)="transferChange($event)"
      [trade]="tradeList"
      (on-remove-trade)="tradeChange($event)"
      [investments]="investList"
      (on-change-investments)="investmentsChange($event)"
      (on-refresh)="refresh()"
      >
    </supply-list>
  </div>
</div>
<div class="row" *ngIf="!!corpInfo">
  <div class="col-sm-6">
    <companies-list
      [companies]="corpInfo.companies"
      [details]="details"
      [is-manager]="corpInfo.is_manager"
      (on-select)="selectCompany($event)"
      (on-change)="companyStorageChange($event)"
      (on-invest)="companyInvest($event)"
      (on-scroll)="scrollTop()"
			(on-filter)="setFilter($event)"
      >
    </companies-list>
  </div>
  <div class="col-sm-6">
    <corporation-storage
      [items]="corpStorage"
      (on-change)="storageChange($event)"
      (on-scroll)="scrollTop()">
    </corporation-storage>
  </div>
</div>
<!--
<div class="row" *ngIf="!!corpInfo">
  <div class="col-sm-12">
    <pre>{{corpInfo | json}}</pre>
  </div>
</div>
-->
<div class="row">
  <div class="col-sm-12">
  </div>
</div>
<div class="row">
  <div class="col-sm-12">
  </div>
</div>
